@charset "UTF-8";

#buy{ display: flex; justify-content: space-between; margin: 0 auto; width: 60%; padding: 7% 0;}
#pc img{width: 100%;}

#ml h2{font-size: 3vw; font-weight: 500;}
#ml h3{font-size: 1vw;}
#ml select{width: 100%; height: 50px; font-size: 1vw; }
#ml select option{font-size: 1vw; display: flex; justify-content: space-between;}
#ml select option span:nth-last-of-type(2){float: right;}

#ml .ck button{width: 32.5%; margin-top: 5%; margin-bottom: 7%; border: 0.5px solid; background: white; padding: 4% 0; font-size: 1.1vw; border-radius: 5%;}
#ml .ck button:nth-last-of-type(2){margin: 0 1%;}
#ml .ck button:nth-child(3){background: black; color: white;}

#buy article{width: 45%;}

#online h3{font-size: 1.1vw; font-weight: 500; display: flex; justify-content: space-between; padding: 3% 0; border-bottom: 0.35px solid;}

#online p{ font-size: 0.8vw; padding: 2%; background: #eee;}
#online p:nth-last-of-type(1){display: none;}
#online p:nth-of-type(2){overflow: scroll; height: 240px;}
#online .btn{ display: inline-block; width: 8%; background: none; border: none;}
#online .btn:hover{cursor: pointer;}

#on{width: 50%; margin: 0 auto; }
#on ul{display: flex; justify-items: center; }
#on ul li{width: 50%; text-align: center;  padding: 2.5%; font-size: 1.5vw;}
#on ul li a{color: black;}
#on ul li:nth-of-type(1){border-bottom: 2px solid;}

#photo{width: 45%; margin: 0 auto; padding: 10% 0 5% 0; }
#photo article #model{width: 100%; padding-bottom: 15%; }
#photo article #cen{width: 100%; }
#photo .cotton{width: 50%;}
#photo article p{ width: 100%; margin: 0 auto; padding: 2% 0; font-size: 1.8vw; font-family: 'Asap', sans-serif; line-height:3vw; }
#photo article #video{width: 100%; padding: 25% 0 7% 0;}

#photo article #two{padding: 25% 0 0 0 ; width: 100%;}
#photo article #flo{width: 100%; padding: 10% 0 25% 0;}
#photo article h5{ text-align: center; padding-top: 30%; font-size: 4vw; font-weight: lighter; font-family: 'Asap', sans-serif; }
#photo article #hani{width: 100%; padding: 10% 0 3% 0;}

#photo article h6{display: flex; justify-content: space-between; text-align: center; font-size: 3vw; font-weight: lighter; padding-top: 30%; border-bottom: solid;}
#photo article h6 button{width: 3vw; height: 3vw; background: none; font-size: 3vw; font-weight: 100; border: none;}
#photo article h6 button:hover{cursor: pointer;}
#photo article #details{display: none; padding: 4% 3%; background: #eee; font-size: 0.95vw;}

#re{width: 70%; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-between; background-image: url(../img/1.jpg); padding: 0.5%;}
#re h2{width: 100%; font-weight: 100; color: white; font-size: 1.8vw; font-family: 'Asap', sans-serif; padding: 0.5% 0;}
#re article{width: 16%; height: 12vw;}
#re article img{width: 100%; height: 100%;}

.view{width: 70%; margin: 0 auto;}
.view table tr td:nth-of-type(1){width: 10%;}
.view table tr td:nth-of-type(1) img{width: 100%;}






